{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" /> 
<html lang="en-US">
{% include 'head.html' %}
<body>

    <div id="loader">

        <div class="loader-spinner">
        </div>
    
    </div>
                 
    <div id="contact-popup">
    
        <div id="contact-popup-background">
        </div>
    
        <div id="contact-popup-content" class="animated speed">

            <div id="contact-popup-close"><i class="fa fa-times"></i></div>

            <div id="google-map" data-lat="37.42565" data-lng="-122.13535" data-zoom-level="12">
            </div>
            
            <div class="padding">

                <i class="fa fa-envelope-o background-icon"></i>
                
                <h3>Contact us</h3>
                <h3 class="right">(+123) 456 789 000</h3>
                
                <h2>Send us an <span>email!</span></h2>
                <form method="post" class="form">
                
                    <h4>Contact details:</h4>
                    <input type="text" name="Name" placeholder="Your name..." class="contact-form-element contact-form-client-name" />
                    <input type="text" name="Phone number" placeholder="Your phone number..." class="contact-form-element last" />
                    <input type="text" name="E-mail" placeholder="Your e-mail..." class="contact-form-element contact-form-client-email" />
                    <input type="text" name="Title" placeholder="E-mail title..." class="contact-form-element contact-form-client-message-title last" />
                    
                    <h4>Message:</h4>
                    <textarea name="Message" rows="5" cols="5" placeholder="Your message..." class="contact-form-element"></textarea>
                    <button class="button button-navy-blue send-contact" type="button">Send a message! <i class="fa fa-paper-plane-o"></i></button>      
                             
                    <div class="contact-form-thanks">
                            
                        <div class="contact-form-thanks-content">
                        
                            Your message has been sent successfully. 
                            <span class="contact-form-thanks-close">Close this notice.</span>
                        
                        </div>
                    
                    </div>         
                                                                         
                </form>
            
            </div>
        
        </div>
    
    </div>  

    

    {% include 'header.html' %}

    {% if not request.user.is_authenticated %}

    </style>

            <style type="text/css">
                
                .stepwizard-step p {
                    margin-top: 10px;
                }
                .stepwizard-row {
                    display: table-row;
                }
                .stepwizard {
                    display: table;
                    width: 50%;
                    position: relative;
                }
                .stepwizard-step button[disabled] {
                    opacity: 1 !important;
                    filter: alpha(opacity=100) !important;
                }
                .stepwizard-row:before {
                    top: 14px;
                    bottom: 0;
                    position: absolute;
                    content: " ";
                    width: 100%;
                    height: 1px;
                    background-color: #ccc;
                    z-order: 0;
                }
                .stepwizard-step {
                    display: table-cell;
                    text-align: center;
                    position: relative;
                }
                .btn-circle {
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    padding: 6px 0;
                    font-size: 12px;
                    line-height: 1.428571429;
                    border-radius: 15px;
                }
                .blocks .btn-primary 
                {
                    height:200px;
                    width: 200px;
                    margin: 0 5px;  
                    border-radius: 0;
                }
                .price-box {
    margin: 0 auto;
    background: #E9E9E9;
    border-radius: 10px;
    padding: 40px 15px;
    width: 500px;
}

.ui-widget-content {
    border: 1px solid #bdc3c7;
    background: #e1e1e1;
    color: #222222;
    margin-top: 4px;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 5.2em;
    height: 2.2em;
    cursor: default;
    margin: 0 -40px auto !important;
    text-align: center; 
    line-height: 30px;
    color: #FFFFFF;
    font-size: 15px;
}

.ui-slider .ui-slider-handle .glyphicon {
    color: #FFFFFF;
    margin: 0 3px; 
    font-size: 11px;
    opacity: 0.5;
}

.ui-corner-all {
    border-radius: 20px;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.9em;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
    border: 1px solid #f9f9f9;
    background: #3498db;
}

.ui-slider-horizontal .ui-slider-handle {
    margin-left: -0.5em;
}

.ui-slider .ui-slider-handle {
    cursor: pointer;
}

.ui-slider a,
.ui-slider a:focus {
    cursor: pointer;
    outline: none;
}

.price, .lead p {
    font-weight: 600;
    font-size: 32px;
    display: inline-block;
    line-height: 60px;
}

h4.great {
    background: #00ac98;
    margin: 0 0 25px -60px;
    padding: 7px 15px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    display: inline-block;
    -moz-box-shadow:    2px 4px 5px 0 #ccc;
    -webkit-box-shadow: 2px 4px 5px 0 #ccc;
    box-shadow:         2px 4px 5px 0 #ccc;
}

.total {
    border-bottom: 1px solid #7f8c8d;
    /*display: inline;
    padding: 10px 5px;*/
    position: relative;
    padding-bottom: 20px;
}

.total:before {
    content: "";
    display: inline;
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    height: 3px;
    background: #7f8c8d;
    opacity: 0.5;
}

.price-slider {
    margin-bottom: 70px;
}

.price-slider span {
    font-weight: 200;
    display: inline-block;
    color: #7f8c8d;
    font-size: 13px;
}

.form-pricing {
    background: #ffffff;
    padding: 20px;
    border-radius: 4px;
}

.price-form {
    background: #ffffff;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    /*-moz-box-shadow:    0 5px 5px 0 #ccc;
    -webkit-box-shadow: 0 5px 5px 0 #ccc;
    box-shadow:         0 5px 5px 0 #ccc;*/
}

.form-group span.price {
    font-weight: 200;
    display: inline-block;
    color: #7f8c8d;
    font-size: 14px;
}

.help-text {
    display: block;
    margin-top: 32px;
    margin-bottom: 10px;
    color: #737373;
    position: absolute;
    /*margin-left: 20px;*/
    font-weight: 200;
    text-align: right;
    width: 188px;
}

.price-form label {
    font-weight: 200;
    font-size: 21px;
}

img.payment {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.ui-slider-range-min {
    background: #2980b9;
}

/* HR */

hr.style {
    margin-top: 0;
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}
            </style>

        <div id="whiteout-actual" class="col-xs-12 animated fadeIn" style="padding-top: 100px;position: absolute; min-height: 650px; z-index: 10; background-color: #F0F1F0; display: none;">
                <div class="stepwizard col-md-offset-3">
    <div class="stepwizard-row setup-panel">
      <div class="stepwizard-step">
        <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
      </div>
      <div class="stepwizard-step">
        <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
      </div>
      <div class="stepwizard-step">
        <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
      </div>
      <div class="stepwizard-step">
        <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>

      </div>
      <div class="stepwizard-step">
        <a href="#step-5" type="button" class="btn btn-default btn-circle" disabled="disabled">5</a>
      </div>
      <div class="stepwizard-step">
        <a href="#step-6" type="button" class="btn btn-default btn-circle" disabled="disabled">6</a>
      </div>
      <div class="stepwizard-step">
        <a href="#step-7" type="button" class="btn btn-default btn-circle" disabled="disabled">7</a>
      </div>
      <div class="stepwizard-step">
        <a href="#step-8" type="button" class="btn btn-default btn-circle" disabled="disabled">8</a>
      </div>
      <div class="stepwizard-step">
        <a href="#step-9" type="button" class="btn btn-default btn-circle" disabled="disabled">9</a>
      </div>
    </div>
  </div>
  
  <form role="form" action="" method="post">
    <div class="row setup-content" id="step-1">
      <div class="col-xs-6 col-md-offset-3">
        <div class="col-md-12">

          <div class="input-group" style="left: 25%">
            <div class="row">
                <h3> Please Enter Your Postal Code</h3>
            </div>
              <div class="row" style="padding-top: 20px; padding-bottom: 20px;">
                  <!-- <span class="input-group-addon" id="basic-addon1"><i class="fa fa-location-arrow"></i></span> -->
                  <input id="postal-home-2" type="text" class="form-control" placeholder="What's your postal code?" aria-describedby="basic-addon1" style="max-width: 400px;">
              </div>
        </div>
          <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
        </div>
      </div>
    </div>
    <div class="row setup-content" id="step-2">
      <div class="col-xs-6 col-md-offset-3">
        <div class="col-md-12">
            <div class="row" style="text-align:  center;">
                <h3> I'm looking for a home loan too...</h3>
            </div>
              <div class="row" style="padding-top: 20px; padding-bottom: 20px; text-align: center;">
                  <div class="btn-group blocks" data-toggle="buttons">
                      <label class="btn btn-primary nextBtn">
                        <input type="radio" name="options" id="option1"> Buy my first home
                      </label>
                      <label class="btn btn-primary nextBtn">
                        <input type="radio" name="options" id="option2"> Renovate my existing home
                      </label>
                      <label class="btn btn-primary nextBtn">
                        <input type="radio" name="options" id="option3"> Buy and Investment Property
                      </label>
                    </div>
              </div>
              <div class="row" style="padding-top: 20px; padding-bottom: 20px; text-align: center;">
                  <div class="btn-group blocks" data-toggle="buttons">
                      <label class="btn btn-primary nextBtn">
                        <input type="radio" name="options" id="option1"> Buy my next home
                      </label>
                      <label class="btn btn-primary nextBtn">
                        <input type="radio" name="options" id="option2"> Consolidate my debt
                      </label>
                      <label class="btn btn-primary nextBtn">
                        <input type="radio" name="options" id="option3"> Reduce my current home loan repayments
                      </label>
                    </div>
              </div>
        </div>
      </div>
    </div>
    <div class="row setup-content" id="step-3">
      <div class="col-xs-6 col-md-offset-3">
        <div class="col-md-12">
          <div class="row">
                <h3> Consolidation Options...</h3>
            </div>
              <div class="row" style="padding-top: 20px; padding-bottom: 20px; text-align: center;">
                  <div class="btn-group blocks" data-toggle="buttons">
                      <label class="btn btn-primary nextBtn">
                        <input type="radio" name="options" id="option1"> Option 1
                      </label>
                      <label class="btn btn-primary nextBtn">
                        <input type="radio" name="options" id="option2"> Option 2
                      </label>
                      <label class="btn btn-primary nextBtn">
                        <input type="radio" name="options" id="option3"> Option 3
                      </label>
                    </div>
              </div>
        </div>
      </div>
    </div>

    <div class="row setup-content" id="step-4">
      <div class="col-xs-6 col-md-offset-3">
        <div class="col-md-12">

          <div class="row">
                <h3> Have you found the property you'd like to purchase?</h3>
            </div>
              <div class="row" style="padding-top: 20px; padding-bottom: 20px; text-align: center;">
                  <div class="btn-group blocks" data-toggle="buttons">
                      <label class="btn btn-primary nextBtn">
                        <input type="radio" name="options" id="option1"> Yes, I've signed a contract
                      </label>
                      <label class="btn btn-primary nextBtn">
                        <input type="radio" name="options" id="option2"> Yes, I want to make an offer
                      </label>
                      <label class="btn btn-primary nextBtn">
                        <input type="radio" name="options" id="option3"> No, I am still looking
                      </label>
                    </div>
              </div>
        </div>
      </div>
    </div>

    <div class="row setup-content" id="step-5">
      <div class="col-xs-6 col-md-offset-3">
        <div class="col-md-12">

          <div class="row">
                <h3> When are you looking to buy?</h3>
            </div>
              <div class="row" style="padding-top: 20px; padding-bottom: 20px; text-align: center;">
                  <div class="btn-group blocks" data-toggle="buttons">
                      <label class="btn btn-primary nextBtn">
                        <input type="radio" name="options" id="option1"> Now
                      </label>
                      <label class="btn btn-primary nextBtn">
                        <input type="radio" name="options" id="option2"> In the Next Month
                      </label>
                      <label class="btn btn-primary nextBtn">
                        <input type="radio" name="options" id="option3"> In the Next Year
                      </label>
                    </div>
              </div>

        </div>
      </div>
    </div>

    <div class="row setup-content" id="step-6">
      <div class="col-xs-6 col-md-offset-3">
        <div class="col-md-12">

          <div class="row">
                <h3> Tell us a few financial details below:</h3>
            </div>
              <div class="row" style="padding-top: 20px; padding-bottom: 20px;">
                  <!-- <span class="input-group-addon" id="basic-addon1"><i class="fa fa-location-arrow"></i></span> -->
                  <div class="price-slider">
                    <h4 class="great">Amount</h4>
                    <span></span>
                    <div class="col-sm-12">
                      <div id="slider"></div>
                    </div>
                  </div>
              </div>
              <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
        </div>
      </div>
    </div>

    <div class="row setup-content" id="step-7">
      <div class="col-xs-6 col-md-offset-3">
        <div class="col-md-12">

          <div class="row">
                <h3> Do you currently have a home loan?</h3>
            </div>
              <div class="row" style="padding-top: 20px; padding-bottom: 20px; text-align: center;">
                  <div class="btn-group blocks" data-toggle="buttons">
                      <label class="btn btn-primary nextBtn">
                        <input type="radio" name="options" id="option1"> Yes
                      </label>
                      <label class="btn btn-primary nextBtn">
                        <input type="radio" name="options" id="option2"> No
                      </label>
                      
                    </div>
              </div>
        </div>
      </div>
    </div>

    <div class="row setup-content" id="step-8">
      <div class="col-xs-6 col-md-offset-3">
        <div class="col-md-12">

          <div class="row">
                <h3> Tell us some final details:</h3>
            </div>
              <div class="row" style="padding-top: 20px; padding-bottom: 20px;">
                  <!-- <span class="input-group-addon" id="basic-addon1"><i class="fa fa-location-arrow"></i></span> -->
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Currency</label>
                    
                        <input type="text" class="form-control" data-mask="$ 999,999.99" placeholder="">
                    
                </div>
</div>
<a href="/accounts/signup"><button class="btn btn-primary btn-lg pull-right" type="button" >Next</button></a>
        </div>
      </div>
    </div>

    
  </form>
 </div>



    <div class="heading home-content" style="position: relative;">
    
        <div >
        
            <div class="heading-slide-single" data-slide-id="1" style="background-image: url( {% static 'img/cool-photo.jpg' %} );">
            
                <!-- <div class="flying-1">
                
                    <span>Insurance agency</span>
                
                </div> -->
                
                <!-- <div class="flying-2">
                
                    <h3>Intelligently<br /> Get the best rates</h3>
                    <p>Curabitur iaculis ante a nibh vulputate sollicitudin.</p>
                    
                    <button class="button button-white" data-action="show-quote-popup" data-quote-key="life-insurance">Get a quote <i class="fa fa-paper-plane-o"></i></button>
                
                </div> -->
                <div class="heading-content" style="opacity: 1; text-align: center;">
                    
                                <!-- <div class="quote-form-content" style="text-align: center;"> -->
                                <h2> Search, compare and save.

                         <br /> Enter your postcode to begin..</span></h2><br /><br /><br />
                                <!-- </div> -->
                                <div class="input-group" style="left: 25%">
                                  <span class="input-group-addon" id="basic-addon1"><i class="fa fa-location-arrow"></i></span>
                                  <input id="postal-home" type="text" class="form-control" placeholder="What's your postal code?" aria-describedby="basic-addon1" style="max-width: 400px;">
                                </div>

                                
                            </div>
                

            
            </div>
            
            <!-- <div class="heading-slide-single" data-slide-id="2" style="background-image: url( {% static 'img/image.png' %} );">
            
                
                
                <div class="flying-2">
                
                    <h3>Intelligently<br /> Get the best rates</h3>
                    <p>Curabitur iaculis ante a nibh vulputate sollicitudin.</p>
                    
                    <button class="button button-white" data-action="show-quote-popup" data-quote-key="life-insurance">Get a quote <i class="fa fa-paper-plane-o"></i></button>
                
                </div>
                
                <div class="heading-content">
                    
                    <h2>We do all the hard work, so you don't have to</h2>
                    <h3>Lorem ipsum dolor sit<br /> amet, consectetur.</h3>
                    
                    <button class="button button-navy-blue" data-action="show-quote-popup" data-quote-key="life-insurance">Get a quote <i class="fa fa-paper-plane-o"></i></button>
        
                </div>
            
            </div> -->
        
        </div>

    </div>


<style type="text/css">
    /*---------------------------------------
   3.2 SECTION: CLIENTS LIST
-----------------------------------------*/
.client-logos {
    margin-bottom: 0;
    z-index: 1;
    text-align: center;
}

.client-logos li {
    display: inline-block;
    margin: 25px 25px 25px 25px;
    vertical-align: middle;
}

.client-logos li a{
    display: block;
    padding: 5px;
}

.client-logos li img {
    max-height: 40px;
    opacity: 0.6;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.client-logos li img:hover {
    opacity: 1;
    -webkit-filter: initial;
    filter: initial;
}

.clients {
    background: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #dadfe3
}

</style>

    
    <div class="clients white-bg" id="clients" role="region" aria-label=" Affiliates Logos" style="margin-top: 70px;">
                <div class="container">
            <ul class="client-logos">
                                        <li>
                                                                <a href="#" title="">
                                        <img src="//mt.elliesoho.com/wp-content/uploads/2016/04/Screen-Shot-2016-04-17-at-3.41.40-PM-300x291.png" alt="Logo">
                                    </a>
                                                    </li>
                                            <li>
                                                                <a href="#" title="">
                                        <img src="//mt.elliesoho.com/wp-content/uploads/2016/04/Screen-Shot-2016-04-17-at-3.41.34-PM-1-300x295.png" alt="Logo">
                                    </a>
                                                    </li>
                                            <li>
                                                                <a href="#" title="">
                                        <img src="//mt.elliesoho.com/wp-content/uploads/2016/04/Screen-Shot-2016-04-17-at-3.41.28-PM-300x288.png" alt="Logo">
                                    </a>
                                                    </li>
                                            <li>
                                                                <a href="#" title="">
                                        <img src="//mt.elliesoho.com/wp-content/uploads/2016/04/imgres.jpg" alt="Logo">
                                    </a>
                                                    </li>
                                            <li>
                                                                <a href="#" title="">
                                        <img src="//mt.elliesoho.com/wp-content/uploads/2016/04/Screen-Shot-2016-04-17-at-3.41.19-PM-300x281.png" alt="Logo">
                                    </a>
                                                    </li>
                                            <li>
                                                                <a href="#" title="">
                                        <img src="//mt.elliesoho.com/wp-content/uploads/2016/04/search.jpg" alt="Logo">
                                    </a>
                                                    </li>
                                            <li>
                                                                <a href="#" title="">
                                        <img src="//mt.elliesoho.com/wp-content/uploads/2016/04/imgres-1.png" alt="Logo">
                                    </a>
                                                    </li>
                                            <li>
                                                                <a href="#" title="">
                                        <img src="//mt.elliesoho.com/wp-content/uploads/2016/04/imgres-2.png" alt="Logo">
                                    </a>
                                                    </li>
                                </ul>
        </div>
            </div>


    <section class="services" id="services" role="region" aria-label="Services">
                <div class="section-overlay-layer">
            <div class="container">

                <div class="section-header">
                                            <h2 class="dark-text">Why Moneytribe?</h2><div class="colored-line"></div>
                                            <div class="sub-heading">Moneytribe is a cloud service that allows people to share the price and features of their financial products with people similar to them (their &#039;tribes&#039;) enabling them to compare product choices and opinions to make more informed, better buying decisions. Moneytribe is free and anonymous, and has been designed primarily for mobile users.</div>
                                    </div>

                                    
                            </div>
        </div>
            </section>


    <section class="call-to-action background home-content">
    
        <div class="center">

            <div class="left">
            
                <h2>We do all the hard work, so you don't have to</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris hendrerit fringilla ligula, nec congue leo pharetra in. Quisque commodo vehicula justo, tincidunt vehicula elit consequat vel.</p>
                
                <div class="form">
            
                    <div class="call-to-action-thanks">
                    
                        <div class="call-to-action-thanks-content">
                        
                            Thank you, we'll call you soon.
                            <span class="call-to-action-thanks-close">Close this notice.</span>
                        
                        </div>
                    
                    </div>
            
                    <!-- <input type="text" name="Phone number" placeholder="Your phone number..." class="phone-number" /> -->
                    <button class="button button-navy-blue send-phone-call-quote">What can I borrow? <i class="fa fa-signing"></i></button>
                
                </div>
                    
            </div>
        
            <div class="right">
            
                <div class="circles">

                    <div class="circle-1 circle-pulse">
                    </div>
                    
                    <div class="circle-2 circle-pulse">
                    </div>
                    
                    <div class="circle-3 circle-pulse">
                    </div>
                    
                    <div class="circle-4 circle-pulse">
                    </div>
                    
                    <a href="tel:+123456789000">
                    
                        <div class="circle-center">
                        
                            <div class="circle-center-tip">Call us: <strong>(+123) 456 789 000</strong></div>
                            <i class="fa fa-phone"></i>
                        
                        </div>
                    
                    </a>
                
                </div>
            
            </div>
            
            <div class="clear">
            </div>

        </div>
    
    </section>
    
    <section class="insurances-slider section-gray home-content">
    
        <div class="center">
        
            <div class="green-line">
            </div>
            
            <div class="images">
            
                <div class="image" style="background-image: url( {% static 'img/photo-sydney.jpg' %}  );" data-insurance-key="house">
                </div>
                
                <!-- <div class="image" style="background-image: url( {% static 'img/image.png' %}  );" data-insurance-key="travel">
                </div>
                
                <div class="image" style="background-image: url( {% static 'img/image.png' %}  );" data-insurance-key="life">
                </div>

                <div class="image" style="background-image: url( {% static 'img/image.png' %} );" data-insurance-key="car">
                </div> -->
            
            </div>
        
            <div class="content">

                <div class="descriptions">

                    <div class="description" data-insurance-key="house">
                    
                        <h3>Get an insurance quote!</h3>
                        <h2>House insurance</h2>
                        
                        <p>Suspendisse potenti. Nullam pharetra sed felis non sodales. Nam eleifend, arcu sed imperdiet euismod, augue eros consequat tortor, ut convallis eros. Aenean a ipsum vel eros elementum efficitur.</p>
                        <button class="button button-navy-blue" data-action="show-quote-popup" data-quote-key="house-insurance">Get a quote <i class="fa fa-paper-plane-o"></i></button>
                    
                    </div>
                    
                    <div class="description" data-insurance-key="travel">
                    
                        <h3>Get an insurance quote!</h3>
                        <h2>Travel insurance</h2>
                        
                        <p>Etiam id ante est. Aenean pellentesque quam vel purus tincidunt tristique. Integer arcu nibh, tempus id ultricies ut, vulputate nec nunc. Etiam elit elit, commodo at interdum sed.</p>
                        <button class="button button-navy-blue" data-action="show-quote-popup" data-quote-key="travel-insurance">Get a quote <i class="fa fa-paper-plane-o"></i></button>
                    
                    </div>
                    
                    <div class="description" data-insurance-key="life">
                    
                        <h3>Get an insurance quote!</h3>
                        <h2>Life insurance</h2>
                        
                        <p>Quisque pharetra lorem quis libero ornare fringilla. Maecenas nisl justo, suscipit vel tortor at, varius auctor erat. Maecenas efficitur felis nec arcu volutpat lacinia.</p>
                        <button class="button button-navy-blue" data-action="show-quote-popup" data-quote-key="life-insurance">Get a quote <i class="fa fa-paper-plane-o"></i></button>
                    
                    </div>

                    <div class="description" data-insurance-key="car">
                    
                        <h3>Get an insurance quote!</h3>
                        <h2>Car insurance</h2>
                        
                        <p>Proin et posuere dolor, a finibus tellus. Phasellus suscipit gravida magna. Nam posuere nisi eu ex sodales, sit amet dictum turpis maximus. Maecenas sodales vehicula tellus, at imperdiet risus.</p>
                        <button class="button button-navy-blue" data-action="show-quote-popup" data-quote-key="car-insurance">Get a quote <i class="fa fa-paper-plane-o"></i></button>
                    
                    </div>

                </div>
                
                <ul class="tabs">
                
                    <li class="active" data-insurance-key="house">
                    
                        <i class="fa fa-home"></i>
                        <span>House insurance</span>
                    
                    </li>
                    
                    <!-- <li data-insurance-key="travel">
                    
                        <i class="fa fa-bus"></i>
                        <span>Travel insurance</span>
                    
                    </li>
                    
                    <li data-insurance-key="life">
                    
                        <i class="fa fa-umbrella"></i>
                        <span>Life insurance</span>
                    
                    </li>
                    
                    <li data-insurance-key="car">
                    
                        <i class="fa fa-car"></i>
                        <span>Car insurance</span>
                    
                    </li> -->

                </ul>
            
            </div>
            
            <div class="clear">
            </div>
        
        </div>
    
    </section>

    <!-- <section class="about-us home-content">
    
        <div class="center">
        
            <div class="green-line">
            </div>
        
            <div class="left">
            
                <h3>About us</h3>
                <h2>Meet Moneytribe.</h2>
                
                <p>Curabitur iaculis ante a nibh vulputate sollicitudin. Integer ut tincidunt ligula. Praesent pretium, tellus at elementum ultrices.</p>

                <div class="timeline">
                
                    <div class="timeline-element">
                    
                        <span class="date">March, 2009</span>
                        <p>TMoneytribe was born, in small office in Australia.</p>
                    
                    </div>
                    
                    <div class="timeline-element">
                    
                        <span class="date">December, 2011</span>
                        <p>Our intelligent service was developed, 2.500 customers!</p>
                    
                    </div>
                    
                    <div class="timeline-element">
                    
                        <span class="date">February, 2014</span>
                        <p>Moving to a new office in Australia. More than 5.000 customers, great references and great view of the future!</p>
                    
                    </div>
                
                </div>

            </div>
        
            <div class="right">
            
                <div class="images-slider">
                
                    <div class="images-slider-change">
                    
                        <div class="images-slider-prev"><i class="fa fa-angle-left"></i></div>
                        <div class="images-slider-next"><i class="fa fa-angle-right"></i></div>
                    
                    </div>
                
                    <div class="images-slider-single" style="background-image: url( {% static 'img/image.png' %} );">
                    </div>
                    
                    <div class="images-slider-single" style="background-image: url( {% static 'img/image.png' %} );">
                    </div>
                
                </div>
                
            </div>
            
            <div class="clear">
            </div>
        
        </div>
    
    </section> -->

    <section class="slogan section-gray-top home-content">
    
        <div class="center">
        
            <i class="fa fa-bar-chart-o background-icon"></i>

            <div class="left">
            
                <h3>Our vision</h3>
                <h2>Best insurances for everyone.</h2>
                
                <blockquote>
                
                    <p>Phasellus quis tortor in arcu maximus vehicula. Donec eget elit vitae tortor convallis mattis. Aliquam erat volutpat. Integer vitae quam ut leo accumsan consequat eu ac sapien.</p>
                    <cite>John Doe</cite>
                
                </blockquote>
            
            </div>
            
            <div class="right">
            
                <div class="key-number-values">
                    
                    <div class="single single-top single-left">
                    
                        <span class="number">1294</span>
                        <span class="description">satisfied customers</span>
                    
                    </div>
                    
                    <div class="single single-top single-right">
                    
                        <span class="number">5</span>
                        <span class="description">professional agents</span>
                    
                    </div>
                    
                    <div class="single single-bottom single-left">
                    
                        <span class="number">8</span>
                        <span class="description">insurances in our offer</span>
                    
                    </div>
                    
                    <div class="single single-bottom single-right">
                    
                        <span class="number">12</span>
                        <span class="description">years of experience</span>
                    
                    </div>
                
                </div>
            
            </div>
            
            <div class="clear">
            </div>
        
        </div>
    
    </section>
    
    <section class="image-slogan with-parallax home-content" style="background-image: url( {% static 'img/australia-night.jpg' %}  );">
    
        <!-- <div class="flying-1">
        
            <span>Take care of your child</span>
        
        </div> -->
        
        <div class="flying-2">
        
            <h3>Intelligently<br /> Get the best rates</h3>
            <p>Curabitur iaculis ante a nibh vulputate sollicitudin.</p>

            <button class="button button-white" data-action="show-quote-popup" data-quote-key="life-insurance">Get a quote <i class="fa fa-paper-plane-o"></i></button>
        
        </div>
    
    </section>

    <section class="contact section-gray home-content">
    
        <div class="center">
        
            <i class="fa fa-envelope-o background-icon"></i>
            <div class="contact-details">

                <div class="contact-detail-single">
                
                    <h3><i class="fa fa-map-marker"></i> Company informations</h3>
                    <p><strong>Moneytribe</strong><br /> John Doe</p>
                    <p class="without-margin-bottom">5002 Example Street<br /> Australia</p>
                     
                </div>

                <div class="contact-detail-single">
                
                    <h3><i class="fa fa-envelope-o"></i> Contact details</h3>
                    <p>E-mail address: <br /><a href="#">contact@moneytrive.com</a></p>     
                    <p class="without-margin-bottom"><button class="button button-navy-blue" data-action="show-contact-popup">Contact us! <i class="fa fa-paper-plane-o"></i></button></p>
                
                </div>
                
                <div class="contact-detail-single contact-detail-single-last">
                
                    <h2>(+123) 456 789 000</h2> 
                    <p class="without-margin-bottom">Available 8:00am - 4:00pm</p> 
                
                </div>
            
            </div>

        </div>
    
    </section>

    

    {% endif %}

    {% if request.user.is_authenticated %}

    <script type="text/javascript">
        
        $(document).ready(function(){
            window.location.replace("/profile");
        })
    </script>

    {% endif %}

    {% include 'footer.html' %}

    <!--
    facebook SDK
    -->
    <script type="text/javascript">
        $(document).ready(function(){
            

            $('#postal-home').focus(function(){
                

                // $('#whiteout-home').css('display', 'none')
                $('#whiteout-actual').css('display', '')
                $('.home-content').css('display', 'none')
            })

            
        })
    </script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function() {
          $("#slider").slider({
              animate: true,
              value:1,
              min: 0,
              max: 1000,
              step: 10,
              slide: function(event, ui) {
                  update(1,ui.value); //changed
              }
          });

          $("#slider2").slider({
              animate: true,
              value:0,
              min: 0,
              max: 500,
              step: 1,
              slide: function(event, ui) {
                  update(2,ui.value); //changed
              }
          });

          //Added, set initial value.
          $("#amount").val(0);
          $("#duration").val(0);
          $("#amount-label").text(0);
          $("#duration-label").text(0);
          
          update();
      });

      //changed. now with parameter
      function update(slider,val) {
        //changed. Now, directly take value from ui.value. if not set (initial, will use current value.)
        var $amount = slider == 1?val:$("#amount").val();
        var $duration = slider == 2?val:$("#duration").val();

        /* commented
        $amount = $( "#slider" ).slider( "value" );
        $duration = $( "#slider2" ).slider( "value" );
         */

         $total = "$" + ($amount * $duration);
         $( "#amount" ).val($amount);
         $( "#amount-label" ).text($amount);
         $( "#duration" ).val($duration);
         $( "#duration-label" ).text($duration);
         $( "#total" ).val($total);
         $( "#total-label" ).text($total);

         $('#slider a').html('<label><span class="glyphicon glyphicon-chevron-left"></span> '+$amount+' <span class="glyphicon glyphicon-chevron-right"></span></label>');
         $('#slider2 a').html('<label><span class="glyphicon glyphicon-chevron-left"></span> '+$duration+' <span class="glyphicon glyphicon-chevron-right"></span></label>');
      }
        $(document).ready(function(){
            $('#sign-up-form').click(function(){
                window.location.replace("/accounts/signup");
            })

            $(document).ready(function () {
              var navListItems = $('div.setup-panel div a'),
                      allWells = $('.setup-content'),
                      allNextBtn = $('.nextBtn');

              allWells.hide();

              navListItems.click(function (e) {
                  e.preventDefault();
                  var $target = $($(this).attr('href')),
                          $item = $(this);

                  if (!$item.hasClass('disabled')) {
                      navListItems.removeClass('btn-primary').addClass('btn-default');
                      $item.addClass('btn-primary');
                      allWells.hide();
                      $target.show();
                      $target.find('input:eq(0)').focus();
                  }
              });

              allNextBtn.click(function(){
                  var curStep = $(this).closest(".setup-content"),
                      curStepBtn = curStep.attr("id"),
                      nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                      curInputs = curStep.find("input[type='text'],input[type='url']"),
                      isValid = true;

                  $(".form-group").removeClass("has-error");
                  for(var i=0; i<curInputs.length; i++){
                      if (!curInputs[i].validity.valid){
                          isValid = false;
                          $(curInputs[i]).closest(".form-group").addClass("has-error");
                      }
                  }

                  if (isValid)
                      nextStepWizard.removeAttr('disabled').trigger('click');
              });

              $('div.setup-panel div a.btn-primary').trigger('click');
            });

             
        $('li').click(function(){
            console.log($(this).attr('href'))
            if($('a').attr('href') == '#finish') { 
                console.log('clicked')
            }
        })

    })
        
    </script>
    

</body>
</html>