{% load staticfiles %}
<html lang="en-US">
{% include 'head.html' %}
<body>

    <div id="loader">

        <div class="loader-spinner">
        </div>
    
    </div>

    <div id="contact-popup">
    
        <div id="contact-popup-background">
        </div>
    
        <div id="contact-popup-content" class="animated speed">

            <div id="contact-popup-close"><i class="fa fa-times"></i></div>

            <div id="google-map" data-lat="37.42565" data-lng="-122.13535" data-zoom-level="12">
            </div>
            
            <div class="padding">

                <i class="fa fa-envelope-o background-icon"></i>
                
                <h3>Contact us</h3>
                <h3 class="right">(+123) 456 789 000</h3>
                
                <h2>Send us an <span>email!</span></h2>
                <form method="post" class="form">
                
                    <h4>Contact details:</h4>
                    <input type="text" name="Name" placeholder="Your name..." class="contact-form-element contact-form-client-name" />
                    <input type="text" name="Phone number" placeholder="Your phone number..." class="contact-form-element last" />
                    <input type="text" name="E-mail" placeholder="Your e-mail..." class="contact-form-element contact-form-client-email" />
                    <input type="text" name="Title" placeholder="E-mail title..." class="contact-form-element contact-form-client-message-title last" />
                    
                    <h4>Message:</h4>
                    <textarea name="Message" rows="5" cols="5" placeholder="Your message..." class="contact-form-element"></textarea>
                    <button class="button button-navy-blue send-contact" type="button">Send a message! <i class="fa fa-paper-plane-o"></i></button>      
                             
                    <div class="contact-form-thanks">
                            
                        <div class="contact-form-thanks-content">
                        
                            Your message has been sent successfully. 
                            <span class="contact-form-thanks-close">Close this notice.</span>
                        
                        </div>
                    
                    </div>         
                                                                         
                </form>
            
            </div>
        
        </div>
    
    </div>  

    

    {% include 'header.html' %}
    
    <section class="blog section-top-space">
    
        <i class="fa fa-newspaper-o background-icon"></i>
    
        <div class="center">
        
            <ul class="recent-news recent-news-full">
            
                <li class="recent-news-single">

                    <div class="recent-news-full-content">
                    
                        <div class="content-wrapper">

                            <img src="_assets/_img/image.png" alt="" />
                            <div class="post-data">
                        
                                3 days ago
                                <span class="divider">&middot;</span>
                                by <a href="#">Martanian</a> 
                                <span class="divider">&middot;</span>
                                <a href="#">1 comment</a>
                        
                            </div>
                            
                            <h1>How to choose best life insurance</h1>
                            <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper faucibus lacus, vel pretium metus. Praesent suscipit malesuada pretium.</strong></p>
                            
                            <h2>Header H2</h2>
                            <p>Duis condimentum at velit a tincidunt. Duis diam mauris, luctus a dolor quis, adipiscing placerat mi. Maecenas imperdiet massa et lorem accumsan dictum. Nunc sit amet vehicula justo, vehicula lacinia purus.</p>
    
                            <h3>Header H3</h3>
                            <p>Sed magna neque, interdum ut vulputate sed, cursus eu risus. Phasellus sagittis interdum magna, vel ultricies tellus porttitor ut. Vivamus malesuada varius quam quis mollis. Mauris sodales, mi ac bibendum varius, nibh ligula tempus velit, sed convallis lectus metus ac justo.</p>
                            
                            <h4>Header H4</h4>
                            <p>Nunc nisi felis, malesuada ac sagittis sed, tempus nec odio. Vivamus ullamcorper pretium ipsum, id molestie elit dapibus vitae. Vestibulum ut odio id sem ultrices convallis vel id diam. Aliquam erat volutpat. Aliquam mattis lacus id neque posuere, ac egestas mi volutpat. Maecenas augue ante, laoreet vitae elementum rhoncus, pharetra eget erat.</p>
                            <blockquote>
                            
                                <p>Morbi vestibulum consectetur molestie. Aliquam vel laoreet lectus, nec gravida diam. Nunc cursus facilisis mauris nec vulputate. Morbi varius sapien eget pulvinar consectetur.</p>
                                <cite>John Doe</cite>
                                
                            </blockquote>
                            
                            <h5>Header H5</h5>
                            <p>Nulla sapien massa, tempus in eros vel, viverra lacinia diam. Nam quis felis ac nunc iaculis suscipit. Nunc varius mi purus, volutpat sagittis lorem viverra vel. Curabitur blandit orci sit amet turpis tempor, ut consectetur dui porttitor. In hac habitasse platea dictumst. Praesent lorem justo, tincidunt a velit eu, dictum interdum arcu.</p>
                            <ul>
                                
                                <li>Nunc sit amet vehicula justo</li>
                                <li>Duis diam mauris, luctus</li>
                                
                                <li>
                                
                                    Vivamus ullamcorper pretium ipsum
                                    <ol>
                                    
                                        <li>Aenean semper faucibus lacus</li>
                                        <li>Duis condimentum at velit</li>
                                        
                                    </ol>
                                    
                                </li>
                                
                                <li>Maecenas augue ante</li>
                                
                            </ul>
                            
                            <p>Donec vitae tellus eu purus lacinia elementum. Morbi fermentum mattis magna. Vestibulum vel gravida sem. Morbi iaculis egestas turpis, a bibendum leo tristique ut. Nullam sed eros a est bibendum imperdiet et et elit. Morbi non est at velit blandit placerat fermentum sed leo.</p>
                        
                        </div>
                        
                        <div class="comments">
                        
                            <div class="green-line">
                            </div>
                        
                            <h2>Comments</h2>
                            <ol class="comments-list">
                            
                                <li class="comment">
                                
                                    <div class="comment-author-avatar">
                                    
                                        <img alt="" src="_assets/_img/avatar.png" />
                                    
                                    </div>
                                    
                                    <div class="comment-container">
            
                                        <div class="comment-author-info">
                                        
                                            <div class="comment-author-name">John</div>
                                            <time datetime="2015-02-11T17:45:54+00:00">February 11, 2015 at 5:45 pm</time>
                        
                                        </div>

                                        <div class="comment-content">
                        
                                            <p>Nunc nisi felis, malesuada ac sagittis sed, tempus nec odio. Vivamus ullamcorper pretium ipsum, id molestie elit dapibus vitae. Vestibulum ut odio id sem ultrices convallis vel id diam. Aliquam erat volutpat. Aliquam mattis lacus id neque posuere, ac egestas mi volutpat. Maecenas augue ante, laoreet vitae elementum rhoncus, pharetra eget erat.</p>
                                            <p><a class="comment-reply-link" href="#">Reply</a></p>
                                            
                                        </div>
                                    
                                    </div>

                                    <ul class="children">
                                    
                                        <li class="comment bypostauthor">
                                    
                                            <div class="comment-author-avatar">
                                            
                                                <img alt="" src="_assets/_img/avatar.png" />
                                            
                                            </div>
                                            
                                            <div class="comment-container">
                                            
                                                <div class="comment-author-info">
                                                
                                                    <div class="comment-author-name">Martanian</div>
                                                    <time datetime="2015-02-11T17:47:01+00:00">February 11, 2015 at 5:47 pm</time>
                                
                                                </div>
                                              
                                                <div class="comment-content">
                                                        
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper faucibus lacus, vel pretium metus. Praesent suscipit malesuada pretium. Quisque ultrices feugiat nulla vel molestie. Mauris suscipit quis dui et pharetra.</p>
                                                    <p><a class="comment-reply-link" href="#">Reply</a></p>
                                                    
                                                </div>
    
                                            </div>    
                                
                                        </li>
    
                                    </ul>
                                
                                </li>
                                
                                <li class="comment">
                            
                                    <div class="comment-author-avatar">
                                    
                                        <img alt="" src="_assets/_img/avatar.png" />
                                    
                                    </div>
                                    
                                    <div class="comment-container">
                                    
                                        <div class="comment-author-info">
                                        
                                            <div class="comment-author-name">Susane</div>
                                            <time datetime="2015-02-11T17:46:10+00:00">February 11, 2015 at 5:46 pm</time>
                        
                                        </div>
                        
                                        <div class="comment-content">
                                                
                                            <p>Donec vitae tellus eu purus lacinia elementum. Morbi fermentum mattis magna. Vestibulum vel gravida sem. Morbi iaculis egestas turpis, a bibendum leo tristique ut. Nullam sed eros a est bibendum imperdiet et et elit. Morbi non est at velit blandit placerat fermentum sed leo.</p>
                                            <p><a class="comment-reply-link" href="#">Reply</a></p>
                                            
                                        </div>
                                                
                                    </div>    
                        
                                </li>
                
                            </ol>

                            <form method="post" class="form">
                            
                                <div class="green-line">
                                </div>
                            
                                <h2>Leave a reply</h2>
                            
                                <input type="text" name="" placeholder="Name..." />
                                <input type="text" name="" placeholder="E-mail..." />
                                <input type="text" name="" placeholder="Website..." class="last" />
                                
                                <textarea rows="5" cols="5" placeholder="Comment..." class="last"></textarea>
                                <button class="button button-navy-blue">Add your comment <i class="fa fa-share-square-o"></i></button>
                            
                            </form>
                        
                        </div>
                    
                    </div>
                    
                    <div class="clear">
                    </div>
                
                </li>
            
            </ul>
            
            <div class="sidebar">
            
                <div class="sidebar-background">
                </div>
            
                <div class="widget">
                
                    <h3>Most commented <span>news</span></h3>
                    <ul class="most-commented-news">
                        
                        <li>
                            
                            <a href="/blog-single.html">How to choose best life insurance?</a>
                            <div class="data">1 month ago &middot; 6 comments</div>
                            <div class="line"></div>
                      
                        </li>
                        
                        <li>
                            
                            <a href="/blog-single.html">Safe travels with family</a>
                            <div class="data">1 month ago &middot; 3 comment</div>
                            <div class="line"></div>
                      
                        </li>
                        
                        <li>
                            
                            <a href="/blog-single.html">Thousandth satisfied customer</a>
                            <div class="data">2 months ago &middot; 1 comment</div>
                        
                        </li>
                    
                    </ul>
                
                </div>
                
                <div class="widget">

                    <h3>Popular <span>tags</span></h3>
                    <div class="tagcloud">
                    
                        <a href="#">Life Insurance</a>
                        <a href="#">Our team</a>
                        <a href="#">Travel</a>
                        <a href="#">Cars</a>
                        <a href="#">Insurance Agency</a>
                        <a href="#">Family</a>
                    
                    </div>
                
                </div>
                
                <div class="widget-call-to-action" style="background-image: url( '_assets/_img/image.png' );">
                
                    <h3>Get a free quote</h3>
                    <div class="textwidget">
                    
                        <p>Justo enim cursus ligula, et tristique dui justo at ligula. Nullam aliquet blandit volutpat. Proin lobortis est non mauris lobortis, non mattis felis congue.</p>
                        <p class="without-margin-bottom"><button class="button button-white" data-action="show-quote-popup" data-quote-key="life-insurance">Get a quote <i class="fa fa-paper-plane-o"></i></button></p>
                    
                    </div>
                
                </div> 
                
                <div class="widget">
                
                    <h3><span>Archive</span></h3>
                    <ul>
                    
                        <li><a href="#">May 2015</a></li>
                        <li><a href="#">April 2015</a></li>
                        <li><a href="#">March 2015</a></li>
                        <li><a href="#">February 2015</a></li>
                    
                    </ul>
                
                </div>
                
                <div class="widget">
                
                    <h3>Care about <span>your car</span></h3>
                    <div class="textwidget">
                    
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean massa lacus, mattis at ligula quis, sodales facilisis ipsum. Sed pretium, nibh nec gravida tincidunt.</p>
                        <p>Justo enim cursus ligula, et tristique dui justo at ligula. Nullam aliquet blandit volutpat. Proin lobortis est non mauris lobortis, non mattis felis congue.</p>
                    
                    </div>
                
                </div>        
            
            </div>
            
            <div class="clear">
            </div>
        
        </div>
    
    </section>
    
    <section class="image-slogan with-parallax" style="background-image: url( '_assets/_img/image.png' );">
    
        <div class="flying-1">
        
            <span>Take care of your child</span>
        
        </div>
        
        <div class="flying-2">
        
            <h3>Insurances for<br /> your child's future</h3>
            <p>Curabitur iaculis ante a nibh vulputate sollicitudin.</p>

            <button class="button button-white" data-action="show-quote-popup" data-quote-key="life-insurance">Get a quote <i class="fa fa-paper-plane-o"></i></button>
        
        </div>
    
    </section>

    <section class="contact section-gray">
    
        <div class="center">
        
            <i class="fa fa-envelope-o background-icon"></i>
            <div class="contact-details">

                <div class="contact-detail-single">
                
                    <h3><i class="fa fa-map-marker"></i> Company informations</h3>
                    <p><strong>Insurance Agency</strong><br /> John Doe</p>
                    <p class="without-margin-bottom">5002 Example Street<br /> Los Angeles, CA 90034</p>
                     
                </div>

                <div class="contact-detail-single">
                
                    <h3><i class="fa fa-envelope-o"></i> Contact details</h3>
                    <p>E-mail address: <br /><a href="#">contact@insuranceagency.com</a></p>     
                    <p class="without-margin-bottom"><button class="button button-navy-blue" data-action="show-contact-popup">Contact us! <i class="fa fa-paper-plane-o"></i></button></p>
                
                </div>
                
                <div class="contact-detail-single contact-detail-single-last">
                
                    <h2>(+123) 456 789 000</h2> 
                    <p>Available 8:00am - 4:00pm</p> 
                
                </div>
            
            </div>

        </div>
    
    </section>

{% include 'footer.html' %}
    
</body>
</html>