
{% load staticfiles %}
{% include 'header.html' %}




            
        <div class="wrapper wrapper-content">
            <div class="row animated fadeInRight">
                <div class="col-md-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Profile Detail</h5>
                        </div>
                        <div>
                            <div class="ibox-content no-padding border-left-right">
                                {% if profile_img %}

                            
                                <div class="hovereffect">
                                    <img src="{{profile_img.image.url}}" class="img-thumbnail"  width="250" height="250" style="display: inline; height: 250px; width: 250px;"> 
                                        <div class="overlay">
                                    <p> 

                                      <a id="edit-prof-img"><i class="fa fa-pencil-square-o" style="color: white;"></i>Edit Picture</a>
                                    </p> 
                                        </div>
                                </div>
                            

                              {% else %}

                            
                                <div class="hovereffect">
                                    <img src="{% static 'img/blank-profile.png' %}" class="img-thumbnail"  width="250" height="250" style="display: inline; height: 250px; width: 250px;"> 
                                        <div class="overlay">
                                    <p> 
                                    
                                      <a id="add-new-image"><i class="fa fa-pencil-square-o" style="color: white;"></i>Add Profile Image</a>
                                    </p> 
                                        </div>
                                </div>
                            

                              {% endif %}
                            </div>
                            <div class="ibox-content profile-content">
                                <h4><strong>Monica Smith</strong></h4>
                                <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                                <h5>
                                    About me
                                </h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.
                                </p>
                                <div class="row m-t-lg">
                                    <div class="col-md-4">
                                        <span class="bar">5,3,9,6,5,9,7,3,5,2</span>
                                        <h5><strong>169</strong> Posts</h5>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="line">5,3,9,6,5,9,7,3,5,2</span>
                                        <h5><strong>28</strong> Following</h5>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="bar">5,3,2,-1,-3,-2,2,3,5,2</span>
                                        <h5><strong>240</strong> Followers</h5>
                                    </div>
                                </div>
                                <div class="user-button">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-envelope"></i> Send Message</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-default btn-sm btn-block"><i class="fa fa-coffee"></i> Buy a coffee</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                    </div>
                <div class="col-md-8">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Your Loans</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="#">Config option 1</a>
                                    </li>
                                    <li><a href="#">Config option 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <div>
                                <div class="feed-activity-list">

                                    <div class="feed-element">
                                          <table class="table">
									    <thead>
									      <tr>
									        <th>Lender</th>
									        <th>Rate</th>
									        <th>Status</th>
									      </tr>
									    </thead>
									    <tbody>
									      <tr>
									        <td>AFG</td>
									        <td>4.66%</td>
									        <td>Complete</td>
									      </tr>
									      <tr>
									        <td>AFG</td>
									        <td>2.37%</td>
									        <td>Void</td>
									      </tr>
									      <tr>
									        <td>ING DIRECT</td>
									        <td>4.69%</td>
									        <td>Void</td>
									      </tr>
									    </tbody>
									  </table>
                                    </div>

                                    
                                </div>

                                <!-- <button class="btn btn-primary btn-block m"><i class="fa fa-arrow-down"></i> Show More</button> -->

                            </div>

                        </div>
                    </div>

                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Product List</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="#">Config option 1</a>
                                    </li>
                                    <li><a href="#">Config option 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <div>
                                <div class="feed-activity-list">

                                    <div class="feed-element">
                                          <table class="table">
									    <thead>
									      <tr>
									      	<th>Rank</th>
									        <th>Lender</th>
									        <th>Product</th>
									        <th>Rate</th>
									        <th>You Save</th>
									      </tr>
									    </thead>
									    <tbody>
									      <tr>
									        <td>1st</td>
									        <td>AFG</td>
									        <td>1202</td>
									        <td>4.35%</td>
									        <td>$337</td>
									      </tr>
									      <tr>
									        <td>2nd</td>
									        <td>AFG</td>
									        <td>14O2</td>
									        <td>4.37%</td>
									        <td>$257</td>
									      </tr>
									      <tr>
									        <td>3rd</td>
									        <td>ING DIRECT</td>
									        <td>12O3</td>
									        <td>4.2%</td>
									        <td>$249</td>
									      </tr>
									    </tbody>
									  </table>
                                    </div>

                                    
                                </div>

                                <!-- <button class="btn btn-primary btn-block m"><i class="fa fa-arrow-down"></i> Show More</button> -->

                            </div>

                        </div>
                    </div>

                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>People Like You</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="#">Config option 1</a>
                                    </li>
                                    <li><a href="#">Config option 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <div>
                                <div class="feed-activity-list">

                                    <div class="feed-element">
                                          <table class="table">
									    <thead>
									      <tr>
									        <th>Provider</th>
									        <th>Avg. Rate</th>
									        <th>% Similarity</th>
									      </tr>
									    </thead>
									    <tbody>
									      <tr>
									        <td>ANZ</td>
									        <td>4.66%</td>
									        <td>25%</td>
									      </tr>
									      <tr>
									        <td>AFG</td>
									        <td>2.37%</td>
									        <td>30%</td>
									      </tr>
									      <tr>
									        <td>ING DIRECT</td>
									        <td>4.69%</td>
									        <td>70%</td>
									      </tr>
									    </tbody>
									  </table>
                                    </div>

                                    
                                </div>

                                <!-- <button class="btn btn-primary btn-block m"><i class="fa fa-arrow-down"></i> Show More</button> -->

                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
        

        </div>
        </div>



    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>

    <!-- Peity -->
    <script src="{% static 'js/plugins/peity/jquery.peity.min.js' %}"></script>

    <!-- Peity -->
    <script src="{% static 'js/demo/peity-demo.js' %}"></script>





